/* @import "tailwindcss"; */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --primary-color: #ec4899;
    --gray-color: #f3f4f6;
    --black-color: #374151;
    --text-color: #4A4A51;
    --text-second-color: #6b7280;
    --green-color: #a6c540;
    --red-color: rgb(230, 125, 116);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../assets/background.png');
    font-family: "Inter", serif;
    color: var(--text-color);
}

a {
    text-decoration: none;
}

div {
    box-sizing: border-box;
}

div.container-responsive {
    position: relative;
    width: 600px;
}

.card-content {
    padding: 5px 10px 10px 10px;
}

.primary-color {
    color: var(--primary-color);
}

.dark {
    body {
        background-image: url('../assets/background-dark.png');
    }
}

/* Estilização da barra de rolagem */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Fundo da barra de rolagem */
::-webkit-scrollbar-track {
    background: var(--black-color);
    border-radius: 10px;
}

/* Cor do scroll (a parte que se move) */
::-webkit-scrollbar-thumb {
    background: #f472b6;
    border-radius: 10px;
    border: 2px solid var(--gray-color);
}

/* Hover do scroll */
::-webkit-scrollbar-thumb:hover {
    background: #db2777; /* Tom mais escuro da primary color */
}

/* Botões de rolagem (cima/baixo) */
::-webkit-scrollbar-button {
    display: none; /* Esconde os botões padrão */
}
